@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background: url("https://img.xatblog.net/image/LMQKsZFkkz.gif");
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    z-index: 1300;

}
.picture{
 background: url("https://img.xatblog.net/image/LMQKsZFkkz.gif");
    background-size:cover;
    align-items: center;
    margin-left: 20%;
    position: center;
    padding: 25px 30px;
    margin: 40px 0;
    color: #d49d9d;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    
    margin-left: 20%;
}
